HTML {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ACRONYM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DFN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
Q {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TBODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TFOOT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
THEAD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
article {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
aside {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
dialog {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
footer {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
header {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
hgroup {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
nav {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
section {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
dialog {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
BODY {
	LINE-HEIGHT: 1.5; BACKGROUND: white
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FLOAT: none !important; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FLOAT: none !important; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FLOAT: none !important; FONT-WEIGHT: normal
}
TABLE {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
TD {
	VERTICAL-ALIGN: middle
}
BLOCKQUOTE:before {
	CONTENT: ''
}
BLOCKQUOTE:after {
	CONTENT: ''
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
BLOCKQUOTE {
	QUOTES: "" ""
}
Q {
	QUOTES: "" ""
}
A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
:focus {
	OUTLINE-WIDTH: 0px
}
DIV {
	MARGIN: 0px auto; HEIGHT: auto; OVERFLOW: hidden
}
UL {
	MARGIN: 0px auto; HEIGHT: auto; OVERFLOW: hidden
}
LI {
	MARGIN: 0px auto; HEIGHT: auto; OVERFLOW: hidden
}
OL {
	MARGIN: 0px auto; HEIGHT: auto; OVERFLOW: hidden
}
HTML {
	FONT-SIZE: 100.01%
}
BODY {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #828282; FONT-SIZE: 75%
}
H1 {
	COLOR: #111; FONT-WEIGHT: normal
}
H2 {
	COLOR: #111; FONT-WEIGHT: normal
}
H3 {
	COLOR: #111; FONT-WEIGHT: normal
}
H4 {
	COLOR: #111; FONT-WEIGHT: normal
}
H5 {
	COLOR: #111; FONT-WEIGHT: normal
}
H6 {
	COLOR: #111; FONT-WEIGHT: normal
}
H1 {
	LINE-HEIGHT: 1; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 3em
}
H2 {
	MARGIN-BOTTOM: 0.75em; FONT-SIZE: 2em
}
H3 {
	LINE-HEIGHT: 1; MARGIN-BOTTOM: 1em; FONT-SIZE: 1.5em
}
H4 {
	LINE-HEIGHT: 1.25; MARGIN-BOTTOM: 1.25em; FONT-SIZE: 1.2em
}
H5 {
	MARGIN-BOTTOM: 1.5em; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
H6 {
	FONT-SIZE: 1em; FONT-WEIGHT: bold
}
H1 IMG {
	MARGIN: 0px
}
H2 IMG {
	MARGIN: 0px
}
H3 IMG {
	MARGIN: 0px
}
H4 IMG {
	MARGIN: 0px
}
H5 IMG {
	MARGIN: 0px
}
H6 IMG {
	MARGIN: 0px
}
P {
	MARGIN: 0px 0px 1.5em
}
.left {
	FLOAT: left !important
}
.clear {
	HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
P .left {
	PADDING-BOTTOM: 0px; MARGIN: 1.5em 1.5em 1.5em 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.right {
	FLOAT: right !important
}
P .right {
	PADDING-BOTTOM: 0px; MARGIN: 1.5em 0px 1.5em 1.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.707070 {
	COLOR: #707070 !important
}
A:link {
	COLOR: #707070; TEXT-DECORATION: none
}
A:visited {
	COLOR: #707070; TEXT-DECORATION: none
}
A:focus {
	COLOR: #e21b1b
}
A:hover {
	COLOR: #e21b1b
}
BLOCKQUOTE {
	FONT-STYLE: italic; MARGIN: 1.5em; COLOR: #666
}
STRONG {
	FONT-WEIGHT: bold
}
DFN {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
DFN {
	FONT-STYLE: italic
}
SUP {
	LINE-HEIGHT: 0
}
SUB {
	LINE-HEIGHT: 0
}
ABBR {
	BORDER-BOTTOM: #666 1px dotted
}
ACRONYM {
	BORDER-BOTTOM: #666 1px dotted
}
ADDRESS {
	FONT-STYLE: italic; MARGIN: 0px 0px 1.5em
}
DEL {
	COLOR: #666
}
PRE {
	MARGIN: 1.5em 0px; WHITE-SPACE: pre
}
PRE {
	FONT: 1em/1.5 'andale mono', 'lucida console', monospace
}
CODE {
	FONT: 1em/1.5 'andale mono', 'lucida console', monospace
}
TT {
	FONT: 1em/1.5 'andale mono', 'lucida console', monospace
}
LI UL {
	MARGIN: 0px
}
LI OL {
	MARGIN: 0px
}
UL {
	MARGIN: 0px 1.5em 1.5em 0px; PADDING-LEFT: 1.5em
}
OL {
	MARGIN: 0px 1.5em 1.5em 0px; PADDING-LEFT: 1.5em
}
UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: decimal
}
DL {
	MARGIN: 0px 0px 1.5em
}
DL DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-LEFT: 1.5em
}
TABLE {
	WIDTH: 100%; MARGIN-BOTTOM: 1.4em
}
TH {
	FONT-WEIGHT: bold
}
THEAD TH {
	BACKGROUND: #c3d9ff
}
TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
CAPTION {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
UNKNOWN {
	BACKGROUND: #e5ecf9
}
TFOOT {
	FONT-STYLE: italic
}
CAPTION {
	BACKGROUND: #eee
}
.small {
	LINE-HEIGHT: 1.87em; MARGIN-BOTTOM: 1.87em; FONT-SIZE: 0.8em
}
.large {
	LINE-HEIGHT: 2.5em; MARGIN-BOTTOM: 1.25em; FONT-SIZE: 1.2em
}
.hide {
	DISPLAY: none
}
.quiet {
	COLOR: #666
}
.loud {
	COLOR: #000
}
.highlight {
	BACKGROUND: #ff0
}
.added {
	BACKGROUND: #060; COLOR: #fff
}
.removed {
	BACKGROUND: #900; COLOR: #fff
}
.first {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.last {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
.top {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
.bottom {
	PADDING-BOTTOM: 0px; MARGIN-BOTTOM: 0px
}
BODY {
	BACKGROUND: #b2b2b2;margin:0px
}
#wrap {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg.jpg) #fff repeat-x center 50%; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 0px
}
#main {
	MARGIN: 0px auto 30px; WIDTH: 793px; HEIGHT: 100% !important
}
#main .top {
	MARGIN: 10px 0px; HEIGHT: auto; OVERFLOW: hidden
}
#main .logo {
	WIDTH: 793px; BACKGROUND: url(../images/top.jpg) no-repeat 50% bottom; HEIGHT: 84px
}
#main .bottom {
	WIDTH: 793px; BACKGROUND: url(../images/bottom.jpg) no-repeat 0px top; HEIGHT: 20px
}
#main .content {
	WIDTH: 793px; BACKGROUND: url(../images/content.jpg) repeat-y; HEIGHT: 419px; MARGIN-LEFT: 1px; OVERFLOW: hidden
}
#main .main01 {
	WIDTH: 80%
}
#main .content_le {
	TEXT-ALIGN: center; WIDTH: 430px
}
#main .main02 {
	MARGIN-TOP: 50px; WIDTH: 1px; BACKGROUND: url(../images/line.jpg) no-repeat; HEIGHT: 349px
}
#main .main04 {
	MARGIN: 0px auto; WIDTH: 350px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 30px
}
#main .main03 {
	BORDER-BOTTOM: #ddd 1px dashed; TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 23px; MARGIN: 15px auto; WIDTH: 100%; HEIGHT: auto; OVERFLOW: hidden
}
#main .font14 {
	TEXT-ALIGN: left; WIDTH: 288px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FONT-SIZE: 16px
}
UNKNOWN {
	WIDTH: 100%
}
#main .main06 {
	WIDTH: 48px
}
#main .main05 {
	WIDTH: 288px
}
.707070 {
	COLOR: #707070
}
.a4405f {
	COLOR: #f90c7b
}
.0068b7 {
	COLOR: #0068b7
}
#main .content_ri {
	WIDTH: 325px; HEIGHT: auto; OVERFLOW: hidden
}
.text-center {
	TEXT-ALIGN: center
}
#main .content_ri01 {
	WIDTH: 278px; FLOAT: left
}
#main .login {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #222; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
#main .content_ri02 {
	BORDER-BOTTOM: #ddd 1px dashed; PADDING-BOTTOM: 10px; WIDTH: 275px; HEIGHT: auto; OVERFLOW: hidden
}
#main .content_ri02 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 15px auto 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666666; PADDING-TOP: 0px
}
#main .content_ri02 UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; MARGIN: 0px 0px 7px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; VERTICAL-ALIGN: middle; PADDING-TOP: 0px;
}
#main .content_ri02 UL LI span{
	position:absolute; float:right
}
.strength0
{

 color:#CD0000;
}

.strength1
{

 color:#EE0000;
}

.strength2
{
color:#ff5f5f;
}

.strength3
{
 color:#56e500;
}

.strength4
{
 color:#3D882D;
}

.strength5
{
 color:#399800;
}
#main .content_ri02 UL .li02 {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: right; WIDTH: 75px; FLOAT: left
}
#main .content_ri02 UL LI .input {
	BORDER-LEFT: #e9e9e9 2px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 9px; WIDTH: 136px; BACKGROUND: url(../images/input.jpg) repeat-x; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #666666; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-RIGHT: #e9e9e9 1px solid; _line-height: 28px
}
#main .content_ri02 UL LI .input_yanzhengma {
	BORDER-LEFT: #e9e9e9 2px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 9px; WIDTH: 50px; BACKGROUND: url(../images/input.jpg) repeat-x; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #666666; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-RIGHT: #e9e9e9 1px solid; _line-height: 28px
}
.submit {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 105px; BACKGROUND: url(../images/btn1.jpg) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 36px !important; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.submit2 {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 105px; BACKGROUND: url(../images/btn1.jpg) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 36px !important; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.submit3 {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 105px; BACKGROUND: url(../images/btn1.jpg) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 36px !important; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.submit3 {
	BACKGROUND: url(../images/btn1.jpg) no-repeat 0px -72px
}
.submit2 {
	BACKGROUND: url(../images/btn1.jpg) no-repeat 0px -36px
}
#main .content_ri03 {
	TEXT-ALIGN: right; PADDING-BOTTOM: 55px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80%; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 55px; _padding: 55px 0 55px 0
}
#main .content_ri04 {
	LINE-HEIGHT: 23px; PADDING-LEFT: 10px; WIDTH: 75%; PADDING-TOP: 5px
}
.submit02 a:link{
 TEXT-DECORATION: underline
}
.submit02 a:visited {
 TEXT-DECORATION: underline
}
.e21b1b A:link {
	COLOR: #e21b1b; TEXT-DECORATION: underline
}
.e21b1b A:visited {
	COLOR: #e21b1b; TEXT-DECORATION: underline
}
.2864b4:link {
	COLOR: #2864b4 !important
}
.2864b4:visited {
	COLOR: #2864b4 !important
}
.e60012 {
	COLOR: #e60012
}
.unlogin0001:link {
	LINE-HEIGHT: 33px; MARGIN: 0px auto; DISPLAY: block; COLOR: #fff; VERTICAL-ALIGN: middle
}
.unlogin0001:visited {
	LINE-HEIGHT: 33px; MARGIN: 0px auto; DISPLAY: block; COLOR: #fff; VERTICAL-ALIGN: middle
}
.unlogin0001:hover {
	BACKGROUND: url(../images/btn1.jpg) no-repeat 0px -36px
}
#footer {
	PADDING-BOTTOM: 28px; MARGIN: -25px auto 10px; PADDING-LEFT: 0px; WIDTH: 760px; PADDING-RIGHT: 0px; COLOR: #626262; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.footer_logo {
	MARGIN-TOP: 5px; WIDTH: 200px; BACKGROUND: url(../images/poweredby.png) no-repeat center top; FLOAT: left; HEIGHT: 65px; _FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/poweredby.png'); _background-image: none
}
.footer_menu {
	BORDER-LEFT: #626262 1px solid; MARGIN: 20px 0px 0px -10px; PADDING-LEFT: 15px; FLOAT: left; COLOR: #626262; FONT-SIZE: 12px
}
.footer_menu A:link {
	MARGIN: 0px 5px; COLOR: #626262; TEXT-DECORATION: none
}
.footer_menu A:visited {
	MARGIN: 0px 5px; COLOR: #626262; TEXT-DECORATION: none
}
.footer_menu A:hover {
	COLOR: #505050; TEXT-DECORATION: underline
}
.footer_menu SPAN {
	COLOR: #626262
}
.footer_menu .eng {
	FONT-FAMILY: Arial,Helvetica,sans-serif; COLOR: #626262
}
.unlogin {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 195px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.error {
	BORDER-BOTTOM: #e21b1b 1px solid; BORDER-LEFT: #e21b1b 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e21b1b; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: none; HEIGHT: 15px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: #e21b1b 1px solid; BORDER-RIGHT: #e21b1b 1px solid; PADDING-TOP: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-box-shadow: 0 0 6px #ddd; -webkit-box-shadow: 0 0 6px #ddd
}
.error P {
	MARGIN: 0px
}
.notice {
	BORDER-BOTTOM: #f0deb7 1px solid; BORDER-LEFT: #f0deb7 1px solid; WIDTH: 270px; BACKGROUND: #fff9e9; HEIGHT: auto; OVERFLOW: hidden; BORDER-TOP: #f0deb7 1px solid; BORDER-RIGHT: #f0deb7 1px solid
}
.noticeREG3 {
	BORDER-BOTTOM: #EAE1DD 1px solid; BORDER-LEFT: #EAE1DD 1px solid; WIDTH: 270px; BACKGROUND: #EBE9FF; HEIGHT: auto; OVERFLOW: hidden; BORDER-TOP: #EAE1DD 1px solid; BORDER-RIGHT: #EAE1DD 1px solid
}
.notice02 {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 23px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 90%; PADDING-RIGHT: 0px; HEIGHT: auto; COLOR: #666666; OVERFLOW: hidden; PADDING-TOP: 6px
}
.e60012 {
	COLOR: #e60012
}
#activation {
	WIDTH: 100% !important
}
